.main-container-grid {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  padding: 15px;
  vertical-align: middle;
  height: 100%
  }

  .table-one {
    width: 100%;
    border: 1px solid #CCC;
  }
  
  .table-one>tbody>tr>td {
    border: 1px solid #CCC;
    min-height: 50px;
    padding: .5em;
  }
  
  .add-button {
    font-size: bold;
    float: right;
    margin: 10px;
  }
  
  .new-form {
    background-color: rgb(234, 0, 255);
  }